.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/generators/swagger_rails/tmp
bower_components/*
!bower_components/swagger-ui
bower_components/swagger-ui/*
!bower_components/swagger-ui/dist
