name: Rubocop

on:
  pull_request:

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
      - name: Run rubocop checks
        run: bundle exec rubocop
